@model IEnumerable<RafaelReyesSpindola.Models.Estudiante>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EscuelaProcedencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PromedioProcedencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoSangre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentescoTutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enfermedades)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoPaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoMaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EscuelaProcedencia.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromedioProcedencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSangre.NombreTipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tutor.ApellidoPaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentescoTutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enfermedades)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoPaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
