@model IEnumerable<RafaelReyesSpindola.Models.Grado>

@{
    ViewData["Title"] = "Index";
}

<h1>Grados</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <div class="row">
                    <a class="col" asp-action="Details" asp-route-id="@item.ID">
                        <div class="sb-nav-link-icon"><i class="fas fa-eye" style="color: #007BFF"></i></div>
                    </a>
                    <a class="col" asp-action="Edit" asp-route-id="@item.ID">
                        <div class="sb-nav-link-icon"><i class="fas fa-user-edit" style="color: #FF9900"></i></div>
                    </a>
                    <a class="col" asp-action="Delete" asp-route-id="@item.ID">
                        <div class="sb-nav-link-icon"><i class="fas fa-user-times" style="color: #E94235"></i></div>
                    </a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
