@model RafaelReyesSpindola.Models.Caja

@{
    ViewData["Title"] = "Delete";
}

<h1>Eiminar</h1>

<h3>¿Estas seguro de eliminar esto?</h3>
<div>
    <h4>Caja (Acción no recomendada, puede ocacionar inconsistencias en el sistema)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoEfectivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoEfectivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.ApellidoPaterno)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
