@model IEnumerable<RafaelReyesSpindola.Models.Caja>
@using System.Security.Claims;
@{
    ViewData["Title"] = "Index";
}

<h1>Cajeros del Instituto</h1>

<p>
    <a asp-action="Create">Agregar Cajero</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoEfectivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MontoEfectivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.NombreUsuario)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
