@model RafaelReyesSpindola.Models.Inscripcion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inscripcion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInscripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInscripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estudiante.ApellidoPaterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CicloEscolar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CicloEscolar.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grado.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grupo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grupo.NombreGrupo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Folio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Folio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
