@model IEnumerable<RafaelReyesSpindola.Models.Inscripcion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaInscripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CicloEscolar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grupo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Folio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInscripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estudiante.ApellidoPaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CicloEscolar.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grado.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grupo.NombreGrupo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Folio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
