@model IEnumerable<RafaelReyesSpindola.Models.ConceptoPago>

@{
    ViewData["Title"] = "Index";
}

<h1>Conceptos de Pago</h1>

<p>
    <a class="btn btn-sm btn-outline-primary" asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarifa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodoPago)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarifa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodoPago)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
