@model RafaelReyesSpindola.Models.Grupo

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Grupo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grado.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreGrupo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreGrupo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
