@model RafaelReyesSpindola.Models.FilaHorario

@{
    ViewData["Title"] = "Delete";
}

<h1>Elimiar</h1>

<h3>¿Seguro que desea eliminar esta fila?</h3>
<div>
    <h4>Fila</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horario.ID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaUno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaUno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaDos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaDos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaTres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaTres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaCuatro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaCuatro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaCinco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaCinco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaSeis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaSeis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaSiete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaSiete)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la tabla</a>
    </form>
</div>
