@model RafaelReyesSpindola.Models.FilaHorario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FilaHorario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horario.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaUno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaUno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaDos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaDos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaTres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaTres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaCuatro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaCuatro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaCinco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaCinco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaSeis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaSeis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaSiete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaSiete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
