@model PaginatedList<RafaelReyesSpindola.Models.Estudiante>

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="mt-4">Inicio</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Acceso rápido</li>
</ol>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Realizar Pago</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-area="" asp-controller="Estudiantes">Ir a la sección</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Inscribir alumno</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-area="" asp-controller="Tutores" asp-action="Index">Ir a la sección</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Consultar alumno</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-area="" asp-controller="Estudiantes">Ir a la sección</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card  text-white mb-4" style="background-color: #F38C1B;">
            <div class="card-body">Crear horario</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-area="" asp-controller="Horarios">Ir a la sección</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>

<!--Info Students-->
<hr/>
<h2 class="mt-4">Estudiantes con pagos retrasados</h2> <br />
<div class="row">
@{
    int i = 0;
    foreach (var item in Model)
    {
        if (item.PagosAtrasdos(item.Pagos, item.Inscripciones).Count != 0)
        {
            
            
            <div class="col-xl-3 col-md-6">
                <a asp-controller="Estudiantes" asp-action="Details" asp-route-id="@item.ID" style="text-decoration:none;">
                <div class="card mb-4" style="border-block-color: lightgray; border-radius: 2px; color:#666;">
                    <div class="card-body">
                        <i class="fa fa-circle fa-o" style="color: #17A2B8;"></i>  @Html.DisplayFor(modelItem => item.Nombre)  @Html.DisplayFor(modelItem => item.ApellidoPaterno) - @Html.DisplayFor(modelItem => item.Matricula)
                        <div class="text-danger" style="float: right;">Retrasos <span class="badge badge-danger">@item.PagosAtrasdos(item.Pagos, item.Inscripciones).Count</span></div>
                    </div>
                </div>
                </a>
            </div>
            
            
        }
     }
}
</div>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Siguiente
</a>
<!--End Info Students-->
<hr/>
<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area mr-1"></i>
                Pagos de colegiaturas
            </div>
            <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar mr-1"></i>
                Movimientos en caja
            </div>
            <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
        </div>
    </div>
</div>

