@model PaginatedList<RafaelReyesSpindola.Models.Estudiante>

@{
    ViewData["Title"] = "Home Page";
}<style>

    .basic-link{
        text-decoration:none;
    }

    .over-card:hover{
        opacity: 90%;
        transition: all .3s;
    }
</style>

<h1 class="mt-4">Inicio</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Acceso rápido</li>
</ol>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4 over-card">
            <div class="card-body">Realizar Pago</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link basic-link" asp-area="" asp-controller="Estudiantes">Ir a la sección</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4 over-card">
            <div class="card-body">Inscribir alumno</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link basic-link" asp-area="" asp-controller="Tutores" asp-action="Index">Ir a la sección</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Consultar alumno</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link basic-link" asp-area="" asp-controller="Estudiantes">Ir a la sección</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card  text-white mb-4" style="background-color: #F38C1B;">
            <div class="card-body">Crear horario</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link basic-link" asp-area="" asp-controller="Horarios">Ir a la sección</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>

<!--Info Students-->
<style>
    .card-late {
    border-block-color: #ddd;
    border-radius: 2px;
    color: #666;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.card-late:hover {
    transition: all 0.1s;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 15%);
    margin: -1.5px;
    background: #fbfbfb;
}
</style>

<!--Verificando si hay retrasos, para poner el titulo de pagos retrasados-->
@{
    int i = 0;
    
    foreach (var item in Model)
    {
        if (item.PagosAtrasdos(item.Pagos, item.Inscripciones).Count != 0)
        {
            i++;
        }
    }

    if (i!=0)
    {
        <hr/>
        <a class="" asp-controller="Estudiantes" asp-action="Retrasos" style="text-decoration:none;  color:#000;;">
        <h2 class="mt-4" >Estudiantes con pagos retrasados
        </h2>
        </a> <br />
    }
}

<div class="row">
@{
    
    foreach (var item in Model)
    {
        if (item.PagosAtrasdos(item.Pagos, item.Inscripciones).Count != 0)
        {
            
            
            <div class="col-xl-3 col-md-6">
                <a asp-controller="Estudiantes" asp-action="Details" asp-route-id="@item.ID" style="text-decoration:none; ">
                <div class="card mb-4 card-late" style="color: #666;">
                    <div class="card-body">
                        <i class="fa fa-circle fa-o" style="color: #17A2B8;"></i>  @Html.DisplayFor(modelItem => item.Nombre)  @Html.DisplayFor(modelItem => item.ApellidoPaterno) - @Html.DisplayFor(modelItem => item.Matricula)
                        <div class="text-danger" style="float: right;">Retrasos <span class="badge badge-danger">@item.PagosAtrasdos(item.Pagos, item.Inscripciones).Count</span></div>
                    </div>
                </div>
                </a>
            </div>
            
            
        }
     }
}
</div>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

@{
    if (i != 0)
    {
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @prevDisabled">
            Anterior
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @nextDisabled">
            Siguiente
        </a>
    }
}
<!--End Info Students-->
<hr/> <br />
<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area mr-1"></i>
                Pagos de colegiaturas
            </div>
            <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar mr-1"></i>
                Movimientos en caja
            </div>
            <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
        </div>
    </div>
</div>

